body {
    margin: 1%;
}

textarea {
    height:100%;
    width:90%;
}

#container {
    display: grid;
    grid-template-rows: 200px 100vh;
    grid-template-columns: 25vm;
    grid-template-areas: /* グリッドレイアウト */
        "extract textareaA textareaA textareaA"
        "logarea textareaA textareaA textareaA"
}
#div_extract {
    grid-area: extract;
    background-color: rgb(230, 195, 195);
}

#div_ALL_LOG {
    grid-area: logarea;
    background-color: rgb(247, 224, 224);

}

#div_Mail-area {
    grid-area: textareaA;
    text-align: center;
    background-color: rgb(255, 255, 255);
}